a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #190D00;
}

nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.nav-items ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}