a, h1, h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-size: 15px;
}

body {
  height: 100%;
  margin: 0;
}

.navbar {
  background-color: black;
  height: 90px;
  align-items: center;
  position: fixed; 
  width: 100%;
  top: 0;
  z-index: 1000; 
}

.nav-items ul {
  display: flex;
  float: right;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white
}

.logo img{
  margin-top: 5px;
  margin-right: 10px;
  width: 45px;
  height: auto;
  filter: invert(100%);
}

.tituloindex {
  text-align: center;
  margin-top: 130px;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  padding: 50px;
}
.wrapper > div{
  padding: 2px;
}
.wrapper img {
  max-width: 100%;
  height: auto;
}
.description {
  text-align: center;
  margin-top: 20px; 
}

footer {
  background-color: black;
  bottom:0%;
  height: 400px;
  width: 100%;
  padding-top: 20px;
}

footer ul {
  display: flex;
}

footer a {
  padding: 3rem;
  font-size: 14px;
}

footer ul li a {
  color: white; 
  text-decoration: none; 
}

