/* -=-= ESTILO DE FONTES =-=- */

body {
  font-family: "coolvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

/* -=-= NAVBAR =-=- */

.navbar {
  background-color: black;
  height: 90px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-items ul {
  display: flex;
  float: right;
  margin-right: 20px;
}

.nav-items a {
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.nav-items a:hover {
  transform: scale(1.1);
}

/* -=-= LOGO CARRINHO E TITULO =-=- */

.logo img,
.carrinho img {
  width: 25px;
  height: auto;
  filter: invert(100%);
}

.config img {
  width: 25px;
}

#logokkjk {
  width: 200px;
}

/* -=-= ESTILO DOS CARDS =-=- */

.content {
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 400px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.titulocard {
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 5px;
}

.card p {
  font-weight: 300;
}

.add-carrinho {
  padding: 6px 8px;
  color: rgb(0, 0, 0);
  background-color: #47474715;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
}

.add-carrinho:hover {
  background-color: #4d4d4d49;
  transition: background 0.5s;

}

/* -=-= FOOTER  =-=- */

:root {
  --color-neutral-0: #000000ea;
  --color-neutral-10: #0e0c0c;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;

}

footer {
  width: 100%;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.footer-list {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_content h1 {
  color: white;
}

#footer_content h3 {
  color: white;
}

#footer_content p {
  color: white;
  font-weight: 300;
}



#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

/* --------------------PÁGINA DE LOGIN---------------- */

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container p {
  font-weight: 400;
  color: black;
}

.login-container form {
  text-align: center;
}

.login-container label {
  font-weight: bold;
}

.login-container input[type="text"],

.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #50575f;
}


/* --------------------PÁGINA DE CADASTRO------------------- */


.cadastro-container {
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.cadastro-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-container p {
  font-weight: 400;
}

.cadastro-container form {
  text-align: center;
}

.cadastro-container label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.cadastro-container input[type="text"],
.cadastro-container input[type="password"],
.cadastro-container input[type="email"],
.cadastro-container input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.cadastro-container input[type="submit"]:hover {
  background-color: #50575f;
}

.cadastro-container p {
  text-align: center;
  margin-top: 10px;

  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }

  #facebook {
    background-color: #4267b3;
  }

  #whatsapp {
    background-color: #25d366;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }

  .footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
  }

  .footer-list .footer-link:hover {
    color: #c4a000;
  }

  .rogue-footer {
    color: white;
    font-weight: 500;
    font-style: normal;
  }

  .subtitle-footer {
    font-weight: 500;
    font-style: normal;
  }

  .contatotitulo-footer h3 {
    color: white;
    font-weight: 500;
    font-style: normal;
    margin-top: 36px;
  }

  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #footer_subscribe p,
  h3 {
    color: white;
  }

  #input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
  }

  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }

  #input_group button {
    background-color: #c4a000;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  }

  #input_group button:hover {
    opacity: 0.8;
  }

  #footer_copyright {
    align-self: flex-end;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }


  @media screen and (max-width: 768px) {
    #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  @media screen and (max-width: 426px) {
    #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
  }
}


/* -=-= ESTILO DE FONTES =-=- */

body {
  font-family: "coolvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

/* -=-= NAVBAR =-=- */

.navbar {
  background-color: black;
  height: 90px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-items ul {
  display: flex;
  float: right;
  margin-right: 20px;
}

.nav-items a {
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.nav-items a:hover {
  transform: scale(1.1);
}

/* -=-= LOGO CARRINHO E TITULO =-=- */

.logo img,
.carrinho img {
  width: 25px;
  height: auto;
  filter: invert(100%);
}

#logokkjk {
  width: 200px;
}

/* -=-= ESTILO DOS CARDS =-=- */

.content {
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 400px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.titulocard {
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 5px;
}

.card p {
  font-weight: 300;
}

/* -=-= FOOTER  =-=- */

:root {
  --color-neutral-0: #000000ea;
  --color-neutral-10: #0e0c0c;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;

}

footer {
  width: 100%;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.footer-list {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_content h1 {
  color: white;
}

#footer_content h3 {
  color: white;
}

#footer_content p {
  color: white;
  font-weight: 300;
}



#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

/* --------------------PÁGINA DE LOGIN---------------- */

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container p {
  font-weight: 400;
  color: black;
}

.login-container form {
  text-align: center;
}

.login-container label {
  font-weight: bold;
}

.login-container input[type="text"],

.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #50575f;
}


/* --------------------PÁGINA DE CADASTRO------------------- */


.cadastro-container {
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.cadastro-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-container p {
  font-weight: 400;
}

.cadastro-container form {
  text-align: center;
}

.cadastro-container label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.cadastro-container input[type="text"],
.cadastro-container input[type="password"],
.cadastro-container input[type="email"],
.cadastro-container input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.cadastro-container input[type="submit"]:hover {
  background-color: #50575f;
}

.cadastro-container p {
  text-align: center;
  margin-top: 10px;

  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }

  #facebook {
    background-color: #4267b3;
  }

  #whatsapp {
    background-color: #25d366;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }

  .footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
  }

  .footer-list .footer-link:hover {
    color: #c4a000;
  }

  .rogue-footer {
    color: white;
    font-weight: 500;
    font-style: normal;
  }

  .subtitle-footer {
    font-weight: 500;
    font-style: normal;
  }

  .contatotitulo-footer h3 {
    color: white;
    font-weight: 500;
    font-style: normal;
    margin-top: 36px;
  }

  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #footer_subscribe p,
  h3 {
    color: white;
  }

  #input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
  }

  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }

  #input_group button {
    background-color: #c4a000;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  }

  #input_group button:hover {
    opacity: 0.8;
  }

  #footer_copyright {
    align-self: flex-end;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }


  @media screen and (max-width: 768px) {
    #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  @media screen and (max-width: 426px) {
    #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
  }
}

/* --------------------PÁGINA DE QUEM SOMOS------------------- */

.quemsomos-h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
  letter-spacing: 5px;
  text-decoration: underline 3px;
  font-family: "coolvetica", sans-serif;
}

.quemsomos-main-txt {
  text-align: center;
  text-justify: distribute;
  font-size: 25px;
  margin-left: 300px;
  margin-right: 300px;
  line-height: 1.5;
  font-family: "Gantari", sans-serif;
}

.quemsomos1 {
  margin-top: 200px;
  display: inline-flex;
  align-items: center;
}

.quemsomos1 img {
  width: 600px;
  float: left;
  margin-left: 300px;
  margin-right: 100px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.quemsomos1 p {
  font-size: 21px;
  margin-right: 200px;
  line-height: 2;
  justify-content: baseline;
}

.quemsomos2 {
  margin-top: 100px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

.quemsomos2 img {
  width: 600px;
  float: left;
  margin-left: 100px;
  margin-right: 300px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.quemsomos2 p {
  font-size: 21px;
  margin-right: 100px;
  margin-left: 400px;
  line-height: 2;
}

.quemsomos3 {
  margin-top: 100px;
  display: inline-flex;
  margin-bottom: 200px;
  align-items: center;

}

.quemsomos3 img {
  width: 600px;
  float: left;
  margin-left: 300px;
  margin-right: 100px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.quemsomos3 p {
  font-size: 21px;
  margin-right: 200px;
  line-height: 2;
  text-align: left;
}

/* --------------------PÁGINA DE QUEM SOMOS------------------- */
button {
  cursor: pointer;
}

.carrinho-header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  letter-spacing: 1.5px;
}

.carrinho-header li {
  padding-top: 0;
  padding-left: 50px;
}

.nav-selecionado {
  text-decoration: underline 1px;
}

.lista-pedidos {
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: 300px;
  font-size: 30px;
}

.cart-title {
  margin-left: 15px;
}

.content-carrinho {
  display: flex;
  padding-left: 300px;
  padding-right: 100px;

  section {
    flex: 1;
  }

  aside {
    min-width: 250px;
  }
}

.table-carrinho {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      border-bottom: 3px solid #eee;

      th {
        text-align: left;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #666;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 3px solid #eee;

      & :last-child {
        border: 0;
      }

      td {
        padding: 30px 0;
      }
    }
  }
}

.product {
  display: flex;
  align-items: center;

  img {
    border-radius: 6px;
  }

  .info {
    margin-left: 20px;

    .title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .category {
      color: #666;
    }
  }

}

.remove-item {
  background-color: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  i {
    cursor: pointer;
  }

  & hover {
    background: #ddd;
  }
}

.qty {
  background: #ccc;
  display: inline-flex;
  padding: 5px 0;
  justify-content: space-around;
  justify-content: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;

  span {
    margin: 0 10px;
  }

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;

    button:hover {
      background: #ddd;
    }
  }
}

.compra-resumo-title {
  border-bottom: 1px solid #ccc;
}

aside {
  margin-left: 30px;

  .box {
    margin-bottom: 15px;
    border: 1px solid #ccc;

    background: #eee;
    color: #222;

    .compra-resumo-title {
      padding: 15px 20px;
      font-size: 18px;
      border-bottom: 1xp solid #ccc;
    }

    .info {
      padding: 20px;
      font-size: 16px;

      >div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #555;
      }

      button {
        color: green;
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        margin-left: -6px;

        i {
          font-size: 20px;
        }
      }

    }

    footer {
      padding-top: 15px;
      padding-bottom: 15px;
      background: #ddd;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
    }
  }

  .finalizar-compra {
    border: 0;
    padding: 15px 0;
    color: white;
    background: green;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
  }
}


/*Estilo da tabela admin*/
.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-row {
  display: table-row;
}

.table-data {
  display: table-cell;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
}

.table-header {
  background-color: #f2f2f2;
}

.text-center {
  padding: 20px;
  text-align: center;
}

.text-center:nth-child(even) {
  background-color: #f2f2f2;
}

.text-center:nth-child(odd) {
  background-color: #e8e8e8;
}

.header__item {
  text-transform: uppercase;
}

.container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-admin {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash-alt {
  margin-right: 5px;
  color: #ff0000;
}

.fa-edit {
  margin-right: 5px;
  color: rgb(0, 0, 0);}

/*Estilo de adicionar ao estoque*/
.adicionar-titulo{
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-adicionar-estoque {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-btn {
  background-color: #ccc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#centralizarmensagemsucesso{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* PAGINA DE GUARDA-ROUPAS */

.contentguardaroupas {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 200px;
  margin-bottom: 200px;;
}

.guardaroupas h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.guardaroupas h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.guardaroupas input[type="radio"],
.guardaroupas label {
  margin-right: 10px;
}

.guardaroupas select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.guardaroupas input[type="submit"] {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.guardaroupas input[type="submit"]:hover {
  background-color: #50575f;
}

.produtocarrinho img{
  width: 90px;
  height: auto;
}

.produtocarrinho {
  display: flex;
}

/*-=-=-=-=-FOOTER RESPONSIVO-=-=-=-=-*/
@media screen and (max-width: 770px) {
  #footer_content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .rogue-footer {
    font-size: 40px;
  }
  
  .footer-list {
    margin-left: -40px;
    list-style: none;
    font-size: 20px;
  }

  #footer_subscribe {
    font-size: 20px;
  }

  #footer_social_media {
    justify-content: center;
  }
}

/*-=-=-=-=-QUEM SOMOS RESPONSIVO-=-=-=-=-*/

@media screen and (max-width: 1669px) {
  .quemsomos2 p {
    margin-left: 200px;
  }
}

@media screen and (max-width: 1400px) {

  .quemsomos-main-txt {
    margin-left: 50px;
    margin-right: 50px ;
  }
  .quemsomos1 {
    flex-direction: column;
    justify-content: center;
  }
  .quemsomos1 p {
    text-align: center;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .quemsomos1 img {
    margin-left: 100px;
  }

  .quemsomos2 {
    flex-direction: column;
  }
  .quemsomos2 p {
    text-align: center;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .quemsomos2 img {
    margin-left: 300px;
  }

  .quemsomos3 {
    flex-direction: column;
  }
  .quemsomos3 p {
    text-align: center;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .quemsomos3 img {
    margin-left: 100px;
  }
}

@media screen and (max-width: 990px) {
  .quemsomos1 {
    size: 50%;
  }

  .quemsomos2 {
    margin-top: 100px;
    display: inline-flex;
    margin-bottom: 200px;
    align-items: center;
  }
  .quemsomos2 img {
    width: 600px;
    float: left;
    margin-left: 60px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  .quemsomos2 p {
    font-size: 21px;
    margin-right: 100px;
    text-align: center;
    line-height: 2;
  }

  .quemsomos3 {
    size: 50%;
  }
}

@media screen and (max-width:430px) {
  .quemsomos-h1 {
    margin-left: 100px;
    margin-right: -100px;
  }

  .quemsomos-main-txt {
    margin-left: 100px;
    margin-right: -100px;
  }
  .quemsomos2 {
    margin-top: 100px;
    display: inline-flex;
    margin-bottom: 200px;
    align-items: center;
  }
  .quemsomos2 img {
    width: 600px;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  .quemsomos2 p {
    font-size: 21px;
    margin-right: 80px;
    margin-left: 100px;
    text-align: center;
    line-height: 2;
  }

  .quemsomos3 img {
    margin-top: -170px;
  }

  #footer_content {
    width: 115%;
  }
}
